:root {
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    }
    body {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      background-color: papayawhip;
    }
    section {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100vh;
      background-color: papayawhip;
    }
    .card {
      width: 375px;
      border-radius: 16px;
      overflow: hidden;
      background-color: var(--White);
    }
    .card-move {
      margin-left: 24px;
      margin-right: 24px;
    }
    .image {
      width: 100%;
    }
    .image2 {
      display: none;
    }
    .note {
      display: flex;
      align-items: center;
      margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--Dark-grayish-blue);

    }
    .title {
      margin: 0;
      font-family: 'Fraunces', serif;
      font-size: 36px;
      font-weight: 700;
      color: var(--Very-dark-blue);
    }
    .content {
      padding: 12px 0;
      font-size: 14px;
      line-height: 1.6;
      word-spacing: 8px;
      color: var(--Dark-grayish-blue);
    }
    .price-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      height: 80px;
    }
    .price1 {
      font-family: 'Fraunces', serif;
      font-size: 36px;
      color: var(--Dark-cyan);
    }
    .price2 {
      text-decoration: line-through;
      font-size: 14px;
      color: var(--Dark-grayish-blue);
    }
    .Add-to-Cart {
      display: flex;
      align-items: center;
      place-content: center;
      margin-bottom: 32px;
      margin-top: 8px;
      gap: 8px;
      height: 52px;
      width: 100%;
      border-radius: 12px;
      background-color: var(--Dark-cyan);
    }
    .Add-to-Cart:hover {
      cursor: pointer;
    }
    .Add-to-Cart p {
      font-weight: bold;
      font-size: 14px;
      color: var(--White);
    }
    @media (min-width: 640px) {
      .card {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      width: 750px;
      height: 750px;
      border-radius: 24px;
    }  
    .card-move {
      display: grid;
      margin-left: 40px;
      margin-right: 40px;
    }
    .left img {
      width: 375px;
      height: 750px;
    }
    .image {
      display: none;
    }
    .image2 {
      display: block;
      width: 100%;
    }
    .note {
      margin-top: 40px;
      font-size: 15px;
    }
    .title {
      margin: 0 16px 0 0;
      font-size: 40px;
    }
    .content {
      font-size: 16px;
    }
    .price-info {
      margin-top: 40px;
      gap: 20px;
      height: 40px;
    }
    .price1 {
      font-size: 40px;
    }
    .price2 {
      font-size: 16px;
    }
    .Add-to-Cart {
      margin-top: 20px;
      margin-bottom: 30px;
      gap: 8px;
      height: 80px;
      border-radius: 20px;
    }
    .logoAdd {
      width: 20px;
    }
    .Add-to-Cart p {
      font-size: 16px;
    }
    }